<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/css/main.css">
    <style>
        
    </style>
</head>
<body>
    <div id="header">
        <h1 id="logo">KcalFit</h1>
        <ul id="menu">
            <a href="/"><li>홈</li></a>
            <a href="/diet"><li>식단</li></a>
            <a href="/moisture"><li>수분</li></a>
            <a href="/exercise"><li>운동</li></a>
            <a href="/alarm"><li class="onlink">알림</li></a>
            <a href="/mypage"><li>마이페이지</li></a>
        </ul>
    </div>
    <div id="container">

    </div>
</body>
</html>