<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Web App</title>
</head>
<body>
    <h1>환영합니다!</h1>
    <button onclick="fetchData()">데이터 불러오기</button>
    <div id="data"></div>
  
    <script>
      function fetchData() {
        fetch('/data')
          .then(response => response.json())
          .then(data => {
            const userDataDiv = document.getElementById('data');
            
            if (data.data.length > 0) {
                // HTML에 표시할 내용 생성
                let userInfo = '<ul>';
                data.data.forEach(user => {
                    userInfo += `<li>ID: ${user.id}, UserID: ${user.userid}, Password: ${user.userpw}</li>`;
                });
                userInfo += '</ul>';
                
                // 데이터를 페이지에 표시
                userDataDiv.innerHTML = userInfo;
            } else {
                userDataDiv.innerHTML = 'No user data available';
            }
          });
      }
    </script>
  
</body>
</html>
